<form [formGroup]="model">
    <h3>Votre Email</h3>
    <mat-form-field>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="email.invalid && email.errors?.email">
            Mauvais format d'email
        </mat-error>
        <mat-error *ngIf="email.invalid && email.errors?.required">
            email obligatoire
        </mat-error>
        <mat-error *ngIf="email.invalid && email.errors?.forbiddenDomain">
           le domaine {{email.errors?.forbiddenDomain}} est interdit
        </mat-error>
    </mat-form-field>
    <h3>Chien VS Chat</h3>
    <div formArrayName="choix">
        <div *ngFor= "let p of choixChienChat.controls, let i=index" [formGroupName]="i">
            <mat-form-field>
                <input matInput formControlName="lechoix" placeholder="Vote"/>
            </mat-form-field>
        </div>
    </div>
    <button (click)="addChoixChienChat()" mat-raised-button color="accent">Ajouter vote</button>
    <app-carte-choix></app-carte-choix>

</form>
